@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.rightSection {
  color: white;
  margin-top: 20px;
  font-size: 20px;
}

.login {
  margin-right: 4px;
}

iframe {
  margin-top: 50px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo {
    width: 320px;
    margin: 0 20px 0 20px;
  }
  .link {
    margin-bottom: 20px;
  }
  .rightSection {
    color: white;
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
  }
}
