@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
}
.App {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.rightSection {
  color: white;
  margin-top: 20px;
  font-size: 20px;
}

.login {
  margin-right: 2px;
}

audio {
  width: 100%;
}
